.month-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 220px;
  flex-grow: 9;

  background: #FBF7F0;
}

