.add-event-popup {
  position: absolute;
  box-sizing: border-box;
  background: #F5F3ED;
  display: none;
}

.add-event-form {
  text-align: center;
}

.add-event-form p{
  margin: 0;
  padding: 0;
}

.add-event-form input{
  padding: 0;
  margin-bottom: 10px;
}

.add-event-form__submit {
  display: block;
  margin: 0 auto;
}

.add-event-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
}

.add-event-popup__close a {
  text-decoration: none;
  color: #fff;
}

.popup-visible {
  display: block;
}

.input-hidden {
  display: none;
}
