.add-task-popup {
  position: absolute;
  top: 90px;
  left: 216px;
  width: 260px;
  background: #F2F0EA;
  display: none;
}

.add-task-form {
  text-align: center;
}

.add-task-form p{
  margin: 0;
  padding: 0;
}

.add-task-form input{
  padding: 0;
  margin-bottom: 10px;
}

.add-task-form__submit {
  display: block;
  margin: 0 auto;
}

.add-task-form__close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
}

.add-task-form__close a {
  text-decoration: none;
  color: #fff;
}

.form-visible {
  display: block;
}
