.delete-user-popup {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 260px;
  background: #F5F3ED;
  box-shadow: 2px 2px 15px grey;
  display: none;
}

.delete-user-form {
  text-align: center;
}

.delete-user-form p{
  margin: 0;
  padding: 0;
}

.delete-user-form input{
  padding: 0;
  margin-bottom: 10px;
}

.delete-user-form__submit {
  display: block;
  margin: 0 auto;
}

.delete-user-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
}

.delete-user-popup__close a {
  text-decoration: none;
  color: #fff;
}

.popup-visible {
  display: block;
}
