.event-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
  height: 20px;

  font-size: 12px;
}

.event--position-absolute {
  position: absolute;
}

.event--position-static {
  position: absolute;
}

.event--hidden {
  display: none;
}

