.register-popup {
  position: absolute;
  top: 10px;
  right: 100px;
  width: 260px;
  background: blue;
  display: none;
}

.register-form {
  text-align: center;
}

.register-form p{
  margin: 0;
  padding: 0;
}

.register-form input{
  padding: 0;
  margin-bottom: 10px;
}

.register-form__submit {
  display: block;
  margin: 0 auto;
}
