.state-panel {
  padding: 10px 10px 10px 10px;
  color: red;
  background: green;
}

.btn {
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  background: #EFEFEF;
  border: 2px outset #EFEFEF;
}

.btn {
  margin-right: 10px;
}
.prev-btn {
  margin-right: 2px;
}

.next-bt {
  margin-right: 50px;
}


