.login-popup {
  background: #F5F3ED;
}

.login-form {
  text-align: center;
}

.login-form p{
  margin: 0;
  padding: 0;
}

.login-form input{
  padding: 0;
  margin-bottom: 10px;
}

.login-form__submit {
  display: block;
  margin: 0 auto;
}
