.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 10px 0 10px;
  height: 100%;
  background: #4E6F95;
  flex-grow: 6;
  flex-basis: 40px;
}

.main-title {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.main-title__home {
  text-decoration: none;
  color: #fff;
}

.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-btn,
.register-btn {
  text-decoration: none;
  text-shadow: 0 1px 0 #444;
  color: #fff;
}

.login-btn:active,
.register-btn:active {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.login-btn:hover,
.register-btn:hover {
  color: #93B8D3;
}



