.day-events-popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  box-sizing: border-box;
  background: #F5F3ED;
  box-shadow: 2px 2px 15px grey;
}

.day-events-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
}

.day-events-popup__close a {
  text-decoration: none;
  color: #fff;
}

.day-events-popup--visible {
  display: block;
}
