.event-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
  height: 20px;

  box-sizing: border-box;

  font-size: 12px;
}

.event--position-fixed {
  position: fixed;
}

.event--hidden {
  display: none;
}

