.event-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100px;
  height: 20px;
  background: #4E6F95;

  box-sizing: border-box;

  font-size: 12px;
  color: #fff;
}

.event--position-fixed {
  position: fixed;
  opacity: .5;
}

.event-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-time {
  display: inline-block;
}

.event--hidden {
  display: none;
}

