.month-view__day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50px;
  flex-grow: 1;

  overflow: hidden;
  border: 1px solid #000;
  cursor: pointer;
}

.prev-month-day,
.next-month-day {
  color: grey;
  background: #E9E9E9;
}

.holiday-day {
  color: red;
}
.current-day {
  color: green;
  font-weight: bold;

  background: #D3EEE0;
}

.day__day-number {
  padding: 0;
  margin: 0;
}

.day__event-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

