.month-view__day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 50px;
  flex-grow: 1;

  verflow: hidden;
  border: 1px solid #000;
  cursor: pointer;
}

.prev-month-day,
.next-month-day {
  color: grey;
  background: #E9E9E9;
}

.holiday-day {
  color: #CC3366;
}
.current-day {
  color: #93B8D3;
  font-weight: bold;
  background: #FBF7F0;
}

.day__day-number {
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

.current-day .day-number__number {
  position: relative;
  ackground: #93B8D3;
  color: #24313F;
}

.current-day .day-number__number:after {
  position: absolute;
  top: 0;
  left: 25px;
  content: 'today';
  color: #24313F;
}

.day__event-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.day__hidden-list {
  position: relative;
}

