.month-view__day {
  flex-basis: 50px;
  flex-grow: 1;

  border: 1px solid #000;
  cursor: pointer;
}

.no-current-month-day {
  color: grey;
  background: #E9E9E9;
}

.holiday-day {
  color: red;
}
.current-day {
  color: green;
  font-weight: bold;

  background: #D3EEE0;
}
